*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* MIX */

/* HEADER */
.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 20px 50px;
  background-color: black;
}

.header-logo img{
  height: 100%;
}

.header-search-bar{
  line-height: 30px;
}

.header-search-bar input{
  height: 30px;
  width: 300px;
  margin-right: 10px;
  border-radius: 3px;
}

.header-search-bar button{
  height: 100%;
  padding: 5px;
}

/* MAIN */
body{
  background-color: #141414;
  font-family: sans-serif;
}

.main{
  margin-top: 70px;
  color: #fff;
}

.row-movie, .row-series{
  width: 100%;
  padding: 50px;
  overflow: hidden;
}

#movie-list-title, #series-list-title{
  padding-left: 10px;
}

#movie-list, #tv-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* HANDLEBARS TEMPLATE */
#movie-list li.movie, #tv-list li.tv{
  flex-shrink: 0;
  list-style: none;
  width: 342px;
  height: 515px;
  padding: 10px;
}

.box{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box .poster-movie{
  display: block;
  width: 100%;
  height: 100%;
}

.box .no-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
}

/* Info box */
.info-box{
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 1px solid #fff;
  background-color: #000;
  transition: top 0.3s
}

.box:hover .info-box{
  top: 0;
}

.info-box [class*="info-"]{
  margin-bottom: 5px;
}

.info-placeholder{
  font-weight: bold;
}

.info-vote .fas.fa-star{
  color: #FDBD01;
}

.flag-language{
  width: 32px;
  vertical-align: middle;
}

/* Not found */
li.not-found{
  list-style: none;
  padding: 10px;
}
