*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* MIX */

/* HEADER */
.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  background-color: black;
}

.header-logo img{
  height: 70px;
  padding: 20px;
}

.header-search-bar{
  padding: 20px;
  line-height: 30px;
}
/* MAIN */
body{
  background-color: #141414;
}

.main{
  margin-top: 70px;
  padding: 50px;
}

.row-movie, .row-series{
  width: 100%;
  background-color: lightgrey;
  border: 1px solid black;
  overflow: hidden;
}

#movie-list, #tv-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* HANDLEBARS TEMPLATE */
#movie-list li.movie, #tv-list li.series{
  flex-shrink: 0;
  list-style: none;
  width: 342px;
  padding: 10px;
  border: 1px solid black;
}
.poster{
  position: relative;
  width: 100%;
  height: 100%;
}

.poster .poster-movie{
  display: block;
  width: 100%;
  height: 100%;
}

.poster .no-img{
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;

}

.info-box{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: green;
}

.poster:hover .info-box{
  display: block;
}

.info-placeholder{
  font-weight: bold;
}

.flag-language{
  width: 32px;
  vertical-align: middle;
}
